<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.HIDE_OVERLAY_WINDOWS" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".Presentation.AnimeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_icon"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aniplex_Clone"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon"
        tools:targetApi="31">

        <activity
            android:name=".Presentation.exoplayer.VideoPlayerActivity"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation= "sensorLandscape"

            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />


        </activity>
        <activity
            android:name=".Presentation.splashscreen.SplashActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            
        </activity>

        <activity
            android:name=".Presentation.MainActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:exported="true" >

        </activity>
        <receiver android:name=".Presentation.common.download.DownloadCompletedReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>